#navbarScope .btn-top-signup {
  padding: 2px 20px;
  margin-top: 5px;
  line-height: 1.7;
  /*background-color: #5cb85c;*/
  background-color: #333333;

  border-color: #4cae4c;  }

.navbar-donate-button a{
  color: #9cd59c !important;
}

.osf-navbar-logo {
  margin-top: 0px !important;
  float: left !important;
  margin-right: 8px !important;
  background: none !important;
  width: 120px !important;
  height: 42px !important;
}

.navbar-brand > span {
  font-size: 18px !important;
}

.dropdown-menu {
  position: absolute;
  right: 0 !important;
  width: auto !important;
  top: 100% !important;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.9) !important;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}